In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [3]:
# What does each row/observation represent?
    # an individual student record of their grades 
    # a student and their grades and their classroom
# When looking at our data: always ask what each row/observation represents 

# Keys from dictionary become columns 
# Can use list or lists of lists to create data frames 
df.head()

    name  math  english  reading classroom
0  Sally    62       85       80         A
1   Jane    88       79       67         B
2  Suzie    94       74       95         A
3  Billy    98       96       88         B
4    Ada    77       92       98         A

## Handy Pandas Functions for Reading Data
- pd.read_csv ("filename.csv")
- pf.read_excel("filename.xlsx")
- pd.read_json("filename.json")
- pd.read_sql uses syntatically correct SQL query and connection oject
- pd.read_table can read HTML table of content
- pd.read_clipboard() can read your clipboard into dataframe